RewriteEngine On

#exclude subdirectories
# RewriteCond %{REQUEST_URI} !^/.+/ 

RewriteCond %{REQUEST_URI} !^/js/main.js
RewriteCond %{REQUEST_URI} !^/download_results.php

RewriteCond %{REQUEST_URI} ^/remote_login$

#everything else goes to index.php
RewriteRule !index\.php$ index.php [L]